@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="HomeCtrl">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <td>Class</td>
                    <td>Location</td>
                    <td>Teacher name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="class in classes">
                    <td ng-bind="class.className"></td>
                    <td ng-bind="class.location"></td>
                    <td ng-bind="class.teacherName"></td>
                    <td><a ng-click="showInfo($index)">Show enrolment info</a></td>
                </tr>
                <tr ng-repeat-end ng-show="showEnrolments === $index">
                    <td colspan="2"></td>
                    <td>Enrolments</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Content/app/services/home-service.js")
    @Scripts.Render("~/Content/app/controllers/home-controller.js")
}